.place__text_gap_no {
    row-gap: 0;
    grid-template-rows: min-content;
}

@media screen and (max-width: 896px) {
    .place__text_gap_no {
        row-gap: 0;
    }
}

@media screen and (max-width: 654px) {
  .place__text_gap_no {
    row-gap: 0;
  }
}

