.content_padding_m {
    /* Поля секции */
    box-sizing: border-box;
    padding: 0 48px;
    width: 100%;
    /* центр относительно родителя */
    margin: 0 auto;
}

@media screen and (max-width: 1152px) {
    .content_padding_m {
        padding: 0;
    }
}
