.header__logo {
  color: #FFFFFF;
  max-width: 176px;
}

@media screen and (max-width: 654px) {
  .header__logo {
    max-width: 159px;
  }
}

@media screen and (max-width: 430px) {
    .header__logo {
      min-height: 42px;
      max-width: 142px;
    }
}