.header {
  /* Поля секции */
  box-sizing: border-box;
  padding: 0 48px;
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 52px;
  padding-top: 28px;
}

@media screen and (max-width: 896px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 16px 16px 0;
    min-height: 42px;
  }
}