.place__text {
  display: grid;
  row-gap: 26px;
  grid-template-rows: min-content min-content;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 896px) {
    .place__text {
        row-gap: 25px;
    }
}

@media screen and (max-width: 654px) {
  .place__text {
      padding: 0 16px;
  }
}