.footer__link {
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 1s ease-in;
    text-decoration: none;
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 654px) {
    .footer__link {
        font-size: 14px;
        line-height: 1;
    }
}

@media screen and (max-width: 430px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}