.content__places {
    /* Поля секции */
    box-sizing: border-box;
    padding: 0 148px;
    width: 100%;
    /* центр относительно родителя */
    margin: 0 auto;
}

@media screen and (max-width: 1152px) {
    .content__places {
        padding: 0 48px;
    }
}

@media screen and (max-width: 896px) {
    .content__places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 544px) {
    .content__places {
        padding: 0;
    }
}