.intro {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    /* Поля секции */
    box-sizing: border-box;
    padding-left: 148px;
    max-width: 838px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

@media screen and (max-width: 1152px) {
  .intro {
    padding-left: 48px;
    max-width: 738px;
  }
}

@media screen and (max-width: 896px) {
  .intro {
    max-width: 100%;
    padding: 0 24px;
  }
}

@media screen and (max-width: 654px) {
  .intro {
    padding: 0 16px;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .intro {
    padding: 0 16px;
    width: 100%;
  }
}