.footer {
    /* Поля секции */
  box-sizing: border-box;
  padding: 0 48px 24px;
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

@media screen and (max-width: 896px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 0 16px 24px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    align-items: flex-start;
  }
}