.places__board {
    /* Удаляю маркировку списка и отступы */
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: grid;
    row-gap: 80px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 896px) {
    .places__board {
        row-gap: 73px;
    }
}

@media screen and (max-width: 654px) {
    .places__board {
        row-gap: 50px;
    }
}